
<!---header creation---->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="header">
  
        <div class="logo">
            <img src="https://www.cookingschool.org/img/restaurant-kitchen.jpeg">
        </div>
        <div class="title" style="text-align: center; padding-top: 169px;">
            <h1 style="font-family: cursive; font-weight: bold;margin-bottom: 50px; text-decoration:underline;">HooDoo Cook</h1>
            <p style="color:black;">GET INSTANT ACCESS TO EVERYTHING.<br/><br/>
               <b> 2-Week Free Trial</b></p>
               <i class="fa fa-star" style="font-size:24px;color: rgb(233, 205, 47);"></i>
               <i class="fa fa-star" style="font-size:24px;color: rgb(233, 205, 47);"></i>
               <i class="fa fa-star" style="font-size:24px;color: rgb(233, 205, 47);"></i>
               <i class="fa fa-star" style="font-size:24px;color: rgb(233, 205, 47);"></i>
               <i class="fa fa-star" style="font-size:24px;color: rgb(233, 205, 47);"></i>

        </div>   
       <div class="contanct" style="text-align: center;">
           <h6 >For details Contact:123664789</h6>
       </div>
      
  <!---default bangalore cooks--->
  
       <div class="small-container">
           <div class="row">
               <h3 style="margin-top: 250px; font-size: 22px;"><i class="fa fa-trophy" style="font-size:24px;"></i>  Bangalore</h3>
           <div class="col-1">
               <img src="https://upload.wikimedia.org/wikipedia/en/thumb/7/74/ManjuMalhi.jpg/270px-ManjuMalhi.jpg">
               <h4><a href = "manju-details.html">Manju Warrier</a></h4>
               <p>
                cookId: 111<br/>
                firstName:Manju<br/>
                lastName: Warrier<br/>
                gender: Female <br/>        
                experience:3yrs<br/>
                isNonVeg: true<br/>
               </p>
           </div>
           <div class="col-1" id="col-2">
               <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/5/55/Neelesh.jpg/270px-Neelesh.jpg">
            <h4><a href = "manju-details.html">Nilesh Kumar</a></h4>
            <p>
             cookId: 112<br/>
             firstName:Nilesh<br/>
             lastName: Kumar<br/>
             gender: Male<br/>        
             experience:5yrs<br/>
             isNonVeg: false<br/>
            </p>
        </div>
       </div>
       
    </div>
    



   