  
       <div class="small-container">
        <div class="row">
            <h3 style="margin-top: 250px; font-size: 22px;"><b>Goa</b></h3>
        <div class="col-1">
            <img src="https://www.cookingschool.org/img/head-chef.jpeg">
            <h4>Kranti Kumar</h4>
            <p>
             cookId: 101<br/>
             firstName:Kranti<br/>
             lastName: Kumar<br/>
             gender: Male <br/>        
             experience:5yrs<br/>
             isNonVeg: Yes<br/>
            </p>
        </div>
        <div class="col-1" id="col-2">
            <img src="https://images.hindustantimes.com/rf/image_size_640x362/HT/p2/2016/03/04/Pictures/_ea51e8da-e1f0-11e5-9948-13623a58218c.jpg">
         <h4>Krithi Shetty</h4>
         <p>
          cookId: 102<br/>
          firstName:Krithi<br/>
          lastName: Shetty<br/>
          gender: Male<br/>        
          experience:1yrs<br/>
          isNonVeg: NO<br/>
         </p>
     </div>
    </div>
    
 </div>
 


